/* Selector { property: value; }
*/


.container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.p1, .p3 {
    border: 1px solid black;
    height: 50px;
    flex-grow: 1;
}

.p2 {
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    width: 200px;
    align-self: flex-end;
}
